.widget {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 149px;
    border: 0.5px solid rgb(231, 228, 228);
    width: 204px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;

    .left {
        height: 130px;
        width: 195px;
        background-color: #92929D;
    }

    .right {
        display: flex;
        flex-direction: column;

        span {
            font-size: 12px;
            margin-top: 5px;
        }

        .gen {
            color: #42BDA1;
        }

    }
}