.heading{
    height: 50px;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    display: flex;
    align-items: center;
    justify-content: center;

    .lgo{
        height: 28px;
        width: 28px;
        background-color: #E2E2EA;
        border-radius: 4px;
        margin: 4px;
    
    }
}